<!DOCTYPE html>

<html>

<head>
       <link rel="icon" href="/img/weather.PNG">
    <title> About </title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">

    <h1>{{>header}}</h1>
    <p>This site was created by Andrew David. It uses data from mapbox.com and darksy.net! </p>
    <img class="portrait" src="/img/a.PNG">

    </div>

    <p>{{>footer}}</p>
</body>

</html>