<!DOCTYPE html>

<html>

<head>
       <link rel="icon" href="/img/weather.png">
    <title> About </title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">

    <h1>{{>header}}</h1>
    <img class="portrait" src="/img/a.png">

    </div>

    <p>{{>footer}}</p>
</body>

</html>